<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
    <script>
        function $(id) {
            return document.getElementById(id)
        }
        var onStateChange = function () {
            $('state-container').innerHTML = window.history.state;
        }
        function onPush(state) {
            window.history.pushState(state, '', '/' + state);
            onStateChange(state);
        }
        function onReplace(state) {
            window.history.replaceState(state, '', '/' + state);
            onStateChange(state);
        }
        window.onpopstate = onStateChange;
    </script>
    <style>
        .example {
            margin: 15px 0;
        }

        .anchor-paragraph {
            margin-top: 1500px;
        }
    </style>
</head>

<body>
    <h1>Index</h1>
    <h2>Redirects</h2>
    <ul>
        <li><a href="/simple">Simple HTTP Redirect</a></li>
        <li><a href="/two-http">Two HTTP Redirects</a></li>
        <li><a href="/client-js">Client Side JS Redirect</a></li>
        <li><a href="/client-meta">Client Side Meta tag Redirect</a></li>
        <li><a href="/complex">HTTP redirect -> Client Redirect -> HTTP redirect</a></li>
    </ul>

    <h2>Slow pages</h2>
    <ul>
        <li><a href="/slow-provision">Slow provision (sleeps 20 sec on server)</a></li>
        <li><a href="/slow-client-loading">Slow client (sleeps 20 sec on client)</a></li>
    </ul>

    <h2>Basic navigation API</h2>
    <div class="example">
        <button onclick="window.history.back()">window.history.back()</button><br />
        <button onclick="window.history.forward()">window.history.forward()</button><br />
        <button onclick="window.history.go()">window.history.go()</button>
    </div>

    <h2>Forms</h2>
    <div class="example">
        <form action="/post-form" method="post">
            <button type="submit">Send Post to /post-form</button>
        </form>
        <form action="https://asdfasdfasdfasdf.com" method="post">
            <button type="submit">Send Post to unknown page</button>
        </form>
    </div>

    <h2>PushState/ReplaceState</h2>
    <div class="example">
        <button onclick="onPush('foo')">window.history.pushState('foo')</button><br />
        <button onclick="onPush('bar')">window.history.pushState('bar')</button><br />
        <button onclick="onPush('baz')">window.history.pushState('baz')</button><br />
        <button onclick="onReplace('foo')">window.history.replaceState('foo')</button><br />
        <button onclick="onReplace('bar')">window.history.replaceState('bar')</button><br />
        <button onclick="onReplace('baz')">window.history.replaceState('baz')</button>
    </div>
    <div class="example">
        State: <span id="state-container"></span>
    </div>

    <h2>New tab navigations</h2>
    <ul>
        <li><a target="_blank" href="https://yandex.ru">yandex.ru -- target=_blank</a></li>
        <li><a target="_blank" rel="noopener noreferrer" href="https://yandex.ru">yandex.ru -- target="_blank" rel="noopener noreferrer"</a></li>
        <li><a target="_blank" href="/">/ -- target=_blank</a></li>
        <li><a target="_blank" rel="noopener noreferrer" href="/">/ -- target="_blank" rel="noopener noreferrer"</a></li>
        <li><form target="_blank" action="/"><button type=submit>/ -- target="_blank"</button></form></li>
        <li><form target="_blank" rel="noopener noreferrer" action="/"><button type=submit>/ -- target="_blank" rel="noopener noreferrer"</button></form></li>
        <li><button onclick="window.open('/')">window.open("/")</button> <button onclick="window.close()">window.close()</button></li>
    </ul>

    <h2>Anchor navigations</h2>
    <ul>
        <li><a href="#paragraph1">Paragraph 1</a></li>
        <li><a href="#paragraph2">Paragraph 2</a></li>
    </ul>

    <h2>Alerts</h2>
    <ul>
        <li><button onclick="window.alert('Hello world')">alert('Hello world')</button></li>
        <li><button onclick="window.prompt('Hello world')">prompt('Hello world')</button></li>
    </ul>

    <p id="paragraph1" class="anchor-paragraph">
        Paragraph 1.
    </p>
    <p id="paragraph2" class="anchor-paragraph">
        Paragraph 2.
    </p>

</body>

</html>
