{% extends 'common_head.html' %}

{% block h_content %}
<div class="bg-light app-nav">
  <div class="container-xl px-0">

    <div class="nav-scroller">
      <nav class="nav nav-underline">
        <div class="d-flex">
          <a class="nav-link app-brand  {%if menu == 'home' %}active{% endif %}" aria-current="page"
            href="{{ url_for('home') }}">IBRO Samples</a>
          <a class="nav-link  {%if menu == 'urls' %}active{% endif %}" href="{{ url_for('custom_urls') }}">Custom
            URLs</a>
          <a class="nav-link {%if menu == 'forms' %}active{% endif %}"
            href="{{ url_for('forms.signin_username') }}">Forms</a>
          <a class="nav-link {%if menu == 'pages' %}active{% endif %}"
            href="{{ url_for('pages.pages') }}">Pages</a>
        </div>
        <div class="d-flex">
          <a class="badge bg-dark app-version-badge text-decoration-none" href="{{ url_for('enframe', url=request.url) }}" title="Open this page in iframe">Open in iframe</a>  
          {% if not app_version or app_version == 'docker-dev' %}
          <span class="badge bg-info app-version-badge">rev: {{app_version}}</span>
          {% else %}
          <a href="https://github.com/persidskiy/ibro-samples/commit/{{app_version}}"
            class="badge bg-info app-version-badge text-decoration-none">rev:
            {{app_version|truncate(7, end='')}}</a>
          {% endif %}
        </div>

      </nav>
    </div>
  </div>
</div>
<main role="main" class="container-xl">
  {% block content %}{%endblock%}
</main>

{% endblock %}