{% extends 'common.html' %}
{% block content %}
<p class="text-muted">ver: {{ app_version }}</p>
<div class="row">
    <div class=col-sm>
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Redirects</h5>
                <ul>
                    <li><a href="/simple">Simple HTTP Redirect</a></li>
                    <li><a href="/two-http">Two HTTP Redirects</a></li>
                    <li><a href="/client-js">Client Side JS Redirect</a></li>
                    <li><a href="/client-meta">Client Side Meta tag Redirect</a></li>
                    <li><a href="/complex">HTTP redirect -> Client Redirect -> HTTP redirect</a></li>
                </ul>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Forms</h5>

                <form class="mb-1" action="/post-form" method="post">
                    <button class="btn btn-sm btn-success" type="submit">Send POST to /post-form</button>
                </form>
                <form action="https://asdfasdfasdfasdf.com" method="post">
                    <button class="btn btn-sm btn-danger" type="submit">Send POST to unknown page</button>
                </form>
            </div>
        </div>
    </div>

    <div class=col-sm>
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Slow pages</h5>

                <ul>
                    <li><a href="/slow-provision">Slow provision</a> <br /><span class="text-muted">Sleeps 20 sec on
                            server. Navigation won't be commited until it wake up.</span></li>
                    <li><a href="/slow-client-loading">Slow client</a> <br /> <span class="text-muted">Sleeps 20 sec on
                            client, will hung up your browser for 20 sec after navigation commit.</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class=col-sm>
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Navigation api</h5>
                <div class="row">
                    <div class="col-sm">
                        <h6>Basic navigation</h6>
                        <code>window.history.</code>
                        <button class="btn btn-outline-primary btn-sm" onclick="window.history.back()">back()</button>
                        <button class="btn btn-outline-primary btn-sm"
                            onclick="window.history.forward()">forward()</button>
                        <button class="btn btn-outline-primary btn-sm" onclick="window.history.go()">go()</button>
                        <code></code>
                        <div class="mb-1"></div>

                        <h6>History api</h6>
                        <code>window.history.pushState(</code>
                        <button class="btn btn-outline-primary btn-sm" onclick="onPush('foo')">'foo'</button>
                        <button class="btn btn-outline-primary btn-sm" onclick="onPush('bar')">'bar'</button>
                        <button class="btn btn-outline-primary btn-sm" onclick="onPush('baz')">'baz'</button>
                        <code>)</code>
                        <div class="mb-1"></div>

                        <code>window.history.replaceState(</code>
                        <button class="btn btn-outline-primary btn-sm" onclick="onReplace('foo')">'foo'</button>
                        <button class="btn btn-outline-primary btn-sm" onclick="onReplace('bar')">'bar'</button>
                        <button class="btn btn-outline-primary btn-sm" onclick="onReplace('baz')">'baz'</button>
                        <code>)</code>
                        <div class="mb-1"></div>

                        <code>window.history.state:  <span id="state-container"></span></code>
                    </div>
                    <div class="col-sm">
                        <h6>Anchor navigations</h6>
                        <ul>
                            <li><a href="#fragment-1">#fragment-1</a></li>
                            <li><a href="#fragment-2">#fragment-2</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class=col-sm>
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">New tab navigations</h5>
                <div class="row">
                    <div class="col-sm">
                        <h6>Links <code> {{ ' <a target="_blank" href="...">' }}</code>:</h6>
                        <ul>
                            <li><a target="_blank" href="https://yandex.ru">yandex.ru</a></li>
                            <li><a target="_blank" rel="noopener noreferrer" href="https://yandex.ru">yandex.ru</a>
                                <code>rel="noopener noreferrer"</code></li>
                            <li><a target="_blank" href="/">/ (this page)</a></li>
                            <li><a target="_blank" rel="noopener noreferrer" href="/">/ (this
                                    page)</a><code> rel="noopener noreferrer"</code> </li>
                        </ul>
                        <h6>Forms <code> {{ ' <form target="_blank">' }}</code>:</h6>
                        <form class="mb-1" target="_blank" action="/">
                            <button class="btn btn-success btn-sm" type=submit>/ (this page)</button>
                        </form>
                        <form class="mb-2" target="_blank" rel="noopener noreferrer" action="/">
                            <button class="btn btn-success btn-sm" type=submit>/ (this page)</button>
                            <code>rel="noopener noreferrer"</code>
                        </form>

                        <h6>JS api</h6>
                        <button class="btn btn-outline-primary btn-sm"
                            onclick="window.open('/')">window.open('/')</button>
                        <button class="btn btn-outline-secondary btn-sm"
                            onclick="window.close()">window.close()</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class=col-sm>
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">JS Alerts</h5>
                <div class="mb-1">
                    <button class="btn btn-outline-primary btn-sm"
                        onclick="window.alert('Hello')">alert('Hello')</button>
                </div>
                <div class="mb-1">
                    <button class="btn btn-outline-primary btn-sm"
                        onclick="$('prompt-out-1').innerHTML = escapeHtml(String(window.prompt('World')))">prompt('World')</button>
                    <span id="prompt-out-1"></span>
                </div>
                <div class="mb-1">
                    <button class="btn btn-outline-primary btn-sm"
                        onclick="$('prompt-out-2').innerHTML = escapeHtml(String(window.prompt('World', 'default')))">prompt('World',
                        'default')</button>
                    <span id="prompt-out-2"></span>
                </div>
                <div class="mb-1">
                    <button class="btn btn-outline-primary btn-sm"
                        onclick="$('prompt-out-3').innerHTML = window.confirm('Okay?')">confirm('Okay?')</button>
                    <span id="prompt-out-3"></span>
                </div>
            </div>
        </div>
    </div>
</div>


<p id="fragment-1" class="anchor-paragraph">
    Fragment 1.
</p>
<p id="fragment-2" class="anchor-paragraph">
    Fragment 2.
</p>


{% endblock %}
