{% macro redir_links(url) %}
<code>[redirs: </code>
<a href="{{ url_for_redirect(url) }}">302</a>
<code>,</code>
<a href="{{ url_for_redirect_js(url) }}">JS</a>
<code> ]</code>
{% endmacro %}

{% macro static_file_url(filename, as_attachment=None, check_cookie=None, download_attr=None) -%}
{% set url = url_for(
    'file_download.download', 
    filename=filename, 
    as_attachment=as_attachment, 
    check_cookie=check_cookie) 
%}

<a {%if download_attr %}download="{{download_attr}}" {% endif %} href="{{ url }}">{{filename}}</a>

{{redir_links(url)}}
{% if check_cookie %}
<span class="text-muted">🍪 required</span>
{% endif %}

{%- endmacro %}
