{% extends 'common.html' %}
{% block content %}

<h5>Other Pages</h5>
<ul>
    <li><a href="https://ibrotesting.github.io/ya/">ibrotesting</a></li>
    <li><a href="https://codepen.io/ilessangles/full/qGqgJx">Search app url schemes</a></li>
</ul>
<ul>
    <li><a href="https://sdelano.net">sdelano.net - cards and forms</a></li>
    <li><a href="https://badssl.com/">badssl.com</a></li>
    <li><a href="https://mdn.github.io/dom-examples/web-share/">MDN Web share test</a></li>
</ul>

{% endblock %}

